require 'rubygems'
require 'bundler/setup'
Bundler.require

require './capital_git'

# Uncomment one of the following two options
# to run the app with Rack

# Run the app at /
# run CapitalGit

# Run the app somewhere other than /
# map '/admin/capitals' do
#  run CapitalGit
# end
