# Rename this file to repos.yml
# and fill it out with the names and paths of repositories to serve.
#

{
  "development": [
    {
      "slug": "remote-repo",
      "path": "user@host.com:repo.git",
      "directory": "data/",
      "default_branch": "test",
      "credentials": {
        "username":"user",
        "publickey":"key.pub",
        "privatekey":"key",
        "passphrase": "phrase"
      }
    },
    {
      "slug": "local-repo",
      "path": "/Users/me/local-repo",
      "directory": "data/",
      "default_branch": "test"
    }
  ],
  "staging": [
    {
      "slug": "repo",
      "path": "/path/to/repo/repo.git",
      "directory": "data/"
    }
  ],
  "production": [
    {
      "slug": "repo",
      "path": "/path/to/repo/repo.git",
      "directory": "data/"
    }
  ]
}
