# Rename this file to repos.yml
# and fill it out with the names and paths of repositories to serve.
#

{
  "development": [
    {
      "name": "repo"
      "server": "user@example.com",
      "credentials": {
        "username":"user",
        "publickey":"key.pub",
        "privatekey":"key",
        "passphrase": "phrase"
      }
    },
    {
      "name": "local-repo",
      "server": "/Users/me/",
    }
  ],
  "staging": [
    {
      "name": "remote-repo",
      "server": "user@example.com"
    }
  ],
  "production": [
    {
      "name": "remote-repo",
      "server": "user@example.com",
      "credentials": {
        "username":"user",
        "publickey":"key.pub",
        "privatekey":"key",
        "passphrase": "phrase"
      }
    }
  ]
}
